services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8080:8080"

  gateway:
    build: ./gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - user-service
