services:
  db:
    image: postgres:15
    container_name: user-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: users
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      timeout: 5s
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  user-service:
    build:
      context: .
      dockerfile: ./cmd/user-service/Dockerfile
    container_name: user-service
    ports:
      - "50051:50051"
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=users

  auth-service:
    build:
      context: .
      dockerfile: ./cmd/auth-service/Dockerfile
    container_name: auth-service
    environment:              
      - USERSERVICEADDR=user-service:50051  
    ports:
      - "50052:50052"
    depends_on:
      - user-service

  matching-service:
    build:
      context: .
      dockerfile: ./cmd/matching-service/Dockerfile
    container_name: matching-service
    environment:
      - REDIS_HOST=redis:6379
    ports:
      - "9000:9000"
    depends_on:
      - redis

  gateway:
    build:
      context: .
      dockerfile: ./cmd/gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service

volumes:
  pgdata:
  redisdata: